/* Navbar.css */
.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #f8f9fa;
  border-bottom: 1px solid #e7e7e7;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar-brand {
  font-size: 24px;
  font-weight: bold;
  background-color: grey;
  width: 100%;
}

.navbar-links {
  display: flex;
  justify-content: center;
  width: 100%;
}

.navbar-link {
  text-decoration: none;
  color: #333;
  padding: 10px 20px;
  flex-grow: 1;
  text-align: center;
  background-color: orange;
  font-weight: bold;
}

.navbar-link:hover {
  color: #007bff;
}

.navbar-link:first-child {
  border: 1px solid grey;
}

.navbar-link:last-child {
  border: 1px solid grey;
}


.logo-default {
  width: 15%;
  height: auto;
  transition: width 0.1s ease-in-out;
}


.logo-scroll {
  width: 10%;
  height: auto;
  transition: width 0.1s ease-in-out;
}